KAFKA_BROKER=kafka:9092
KAFKA_TOPIC=match_events
KAFKA_CLIENT_ID=live-feed-producer
MATCH_ID=123

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_MANAGEMENT_PORT=15672

VAR_DELAY_MS=20000
ARCHIVER_GROUP_ID=historical-archiver-group
STATE_GROUP_ID=state-group
BETTING_GROUP_ID=betting-group